@import "theme";

* {
  font-family: $fontFamily;
  color: $d-font;
}

html {
  overflow-y: scroll;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $d-background;
}

h1, h2, h3, h4, h5, p {
  font-weight: normal;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

.c-default {
  cursor: default;
}

.side-bar {
  //border-right: 1px solid $d-background;
  //background-color: $d-main;
}

.un-button {
  background: dimgray;
  color: azure;
  border: none;
  border-radius: 5px;
  min-height: 36px;
  outline: none;
  cursor: pointer;
  transition: all .3s;
  padding: 0 15px;
  width: 100%;
}

.un-button:hover {
  box-shadow: 0 0 10px dimgray;
}

.un-button:disabled {
  border: dimgray 1px solid;
  cursor: default !important;
  color: dimgray !important;
  background: white !important;
  box-shadow: none !important;
}

.un-form-group {
  background-color: dimgray;
  border-radius: 10px;
  color: azure;
}

.un-form-group input {
  margin: 0;
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.form-conclusion {
  position: relative;
}

.form-conclusion div {
  position: absolute;
  right: -55px;
  top: 0;
}

.green {
  color: green;
}

.red {
  color: red;
}

.text-grey {
  color: #5A5A5B
}