//Основные цвета
$d-background: #F2F2F2
$d-main: #FFFFFF
$d-font: #222c37

//Зеленый блок
$d-highlighted-green-border: #00BBAA
$d-highlighted-green: #F0FAFA

//Синий блок
$d-highlighted-blue-border: #55CCEE
$d-highlighted-blue: #F0F9FF

//Красный
$d-highlighted-red-border: #EECC55
$d-highlighted-red: #FFF9F0

//Шрифт
$fontFamily: Georgia, Cambria, "Times New Roman", Times, serif
$h1: 3rem
$h2: 2.5rem
$h3: 2.3rem
$h4: 2rem
$h5: 1.5rem
$p: 1.2rem
//Высота хэдера
$header-h: 4.5rem