.app-header {
    background-color: white;
    height: 4.5rem;
}

.app-header .h-item  span,
.app-header a {
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
    line-height: 4.5rem;
}